body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

.cabecalho{
    width: 100%;
    height: 120px;
    background-color: #7482FF;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    border-bottom: 5px solid #00388C;
   
}

.container-cabecalho{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.titulo-cabecalho{
    margin: 0;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 36px;
}

.link-cabecalho{  
    text-decoration: none;
}

.botao-cabecalho{
    margin-left: 75%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #023E8A;
    color: white;
}

.titulo-main{
    color: black;
    font-size: 36px;
    font-family: sans-serif;
}